@media only screen and (max-width:320px){

body{
background: url(Images/mainbg.png);
}

body ul{
list-style-type:none;
}

.clr{
clear:both;
}

.header_container{
position: fixed;
width: 100%;
height: 130px;
margin-top: 0px;
margin-left: -1px;
}

.logo{
margin-top: 13px;
text-align: center;
color: black;
font-size:14px;
}

.header1 {
position: absolute;
height: 45px;
width: 100%;
background: url(../Images/Header1.png);
}

.message {
margin-left: 10px;
margin-top: 10px;
width: 46px;
height: 26px;
position: absolute;
}

.msg_counter{
font-size: 10px;
font-weight: bold;
margin-top: -1px;
float: left;
margin-left: -9px;
position: absolute;
color: white;
}

.header_like{
width: 64px;
height: 26px;
float: right;
margin-top: -22px;
margin-right: 0px;
font-weight: normal;
}

.header_like .like_count{
margin-right: 10px;
float: right;
color: rgb(26, 26, 129);
margin-top: 10px;
}

.header2{
background-image: url(../Images/Header2.png);
margin-top: 45px;
width: 100%;
height: 39px;
}

.nav_bar_upper ul{
list-style-type:none;
margin:0;
padding:0;
}

.nav_bar_upper li{
background: url(../Images/Header2_seperator.png) no-repeat left top;
display: inline;
width: 20%;
height: 22px;
margin-top: 7px;
padding-top: 4px;
text-align: center;
font-size: 12px;
float: left;
}

.nav_bar_upper a{
text-decoration: none;
color: #006;
font-weight: bold;
}

.nav_bar_upper ul li.selected{
background: url(../Images/tab_active.png);
height: 25px;
margin-top: 4px;
padding-top: 8px;
}

.nav_bar_upper ul li.selected a{
color: white;
}

.header3{
background: url(../Images/nav_menu_mid_bg.png);
width: 100%;
height: 40px;
}

.header3 .Image_container img{
height: 38px;
float: right;
margin-right: 20px;
}

.header3 .Image_container img.pencil {
height: 29px;
margin-top: 5px;
}

.header3_links{
width: 60%;
margin-left: 0px;
margin-top: 0px;
height: 24px;
text-align: left;
padding-top: 10px;
overflow: hidden;
}

.header3 .header3_links span{
margin-left: 12px;
font-style: italic;
font-size: 14px;
}

.header3 .header3_links span a{
text-decoration: none;
color: white;
}

.header3 .header3_links .header3_album_name{
display: inline;
}

.header3 .header3_links span a.selected{
text-decoration: underline;
color: white;
font-weight: bold;
}

.header3 .header3_links .album_name{
margin-left: 3px;
}
 
.scrollable {
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}

.photos_contents{
margin-top: 109px;
}

.photos_contents ul{
list-style-type:none;
margin-left: -47px;
}

.photos_contents ul li{

float: left;
margin-left: 15px;
margin-bottom: 12px;
width: 85px;
height: 108px;
}

.photos_contents ul li img{
width: 85px;
display: block;
height: 90px;
}

.photos_contents ul li a{
text-decoration: none;
color: white;
}

.photos_contents ul li .album_name{
text-align: center;
font-size: 15px;
overflow: hidden;
height: 20px;
margin-top: 1px;
background-color: black;
}

.news_feed_content_container_outer{

margin-top:124px;

}

.news_feed_content_container{

margin-top:0px;

}

.news_feed_content{
width:100%;

text-decoration:none;

}

.news_feed_content ul{

padding-left:0px;
padding-right:10px;

}

.news_feed_content li{

list-style-type: none;

margin-top:0px;

}

.news_feed_content_c1{

float:left;

width:16%;

}
.news_feed_content_c1r1{

}

.news_feed_content_c2{

float:left;

width:60%;

}

.news_feed_content_c2r1{

color:#990099;
text-shadow:none;

text-decoration:none;

font-size:13px;

font-weight:bold;

}


.news_feed_content_c2r2{

margin-top:3px;
color:#fff;
text-shadow:none;

text-decoration:none;

font-size:11px;

padding-bottom:10px;

}


.news_feed_content_c2r3{
font-size:10px;

text-decoration:none;

color:#000;

}


.news_feed_content_c3{
float:left;

width:24%;

}


.news_feed_content_c3r1{

font-size:9px;

color:#000;
text-align:center;

text-decoration:none;

padding-bottom:2px;

}

.news_feed_content_c3r2{

text-align:center;

text-decoration:none;

}
.news_feed_content_seperator{

padding-top:5px;

padding-bottom:10px;

text-align:center;

}

.news_feed_content_seperator img{
width:90%;
}
.news_feed_content_c1r1 img{
width:40px;
}
.news_feed_content_c2r3 img {width:20px;
}
.news_feed_content_c3r2 img{

width:70px;

box-shadow: 8px 7px 12px rgba(37, 36, 36, 0.7);
}


/* PostDetails Page */
.post_detail_container{
    width:100%;
    margin:0 auto;
    margin-top:80px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left:0px;
}

.post_detail_container_details_c1{
    width:18%;
    float:left;
}
.post_detail_container_details_c2{
padding-left: 8px;
width: 58%;
float: left;
text-shadow: none;
}

.post_detail_container_details_c3{
width: 21%;
float: right;
text-shadow: none;
font-size: 9px;
color: #000;
margin-right: 0px;
padding-top: 4px;
}


.post_detail_container_details_c1 img{
    width:50px;
}
.post_detail_container_details_c2r1{font-size: 13px;
color: #990099;
font-weight: bold;
text-shadow: none;
height: 18px;
overflow: hidden;
}
.post_detail_container_details_c2r2{
    padding-top:10px;
    font-size:11px;
    color:#fff;
}
.post_detail_container_image{

padding-left: 18px;
padding-top: 15px;
padding-right: 25px;
width:100%
}
.post_detail_container_image img{
    
    width:90%;
}
.post_detail_container_options{
    padding-left:40px;
    font-size:12px;
    color:#fff;
    text-shadow:none;
}
.post_detail_container_options span{ 
    font-size:12px;
    color:#000066;
    text-shadow:none;
}
.post_detail_comment_container{
border:1px solid #fff;

margin-top: 20px;
margin-left: 18px;
margin-right: 25px;
}
.prev_container{
    color:#003366;
    text-shadow:none;
    font-size:12px;
    padding:5px;
    padding-left:20px;
    background:grey;
    
}
.prev_container a{
    position:relative;
    float:left;
}
.prev_container img{
    float:left;
}
.comments_count{
    float:right;
    margin-right:10px;
    color:#000;
    font-size:12px;
}
.prev_container a{
    margin-left:10px;
    text-decoration:none;
}
.comment_container{
    padding:10px;
    font-size:12px;
    border-top:1px solid white;
    
}
.comment_container_image img{
    float:left;
    width:40px;
    height:40px;
}
.comment_container_new_comment{
    padding-top:10px;
    border-top:1px solid white;
    padding:10px;
}
.comment_container_new_comment input{
    margin-left:50px;
    width:120PX;
    height:30px;
}
.comment_container_comment{
    float:left;
    padding-left:10px;
    color:#fff;
    text-shadow:none;
}
.comment_user_name{
    color:#909;
    font-size:12px;
    font-weight:bold;
    padding-right:5px;
}
.comment_option_time{
    color:#333;
}
.comment_option_like{
}
.new_com_sub{
    float:left;
    
}
.new_com_sub a{
    margin-top:15px;
    margin-left:10px;
}
.comment_btn{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    background: #CCC;
    color: black;
}
/* --------------------------------------------------- */

.events_wrapper{
margin-top: 107px;
width: 100%;
height: 100%;
overflow: hidden;
}
.events_wrapper ul li{
margin-top: 10px;
}
.events_wrapper ul li .top_container{

width: 100%;

}

.date_bar{
background-image: url(../Images/event_date_bg.png);
height: 16px;
font-size: 12px;
font-weight: bold;
color: rgb(56, 56, 145);
padding-left: 10px;
padding-top: 1px;
}

.events_wrapper ul{
margin-left: -40px;
}

a{
text-decoration: none;
}

.events_contents_col1{
margin-top: 11px;
width: 30%;
margin-left: 0px;
text-align: center;
font-size: 11px;
overflow: hidden;
color: #990099;
font-weight: bold;
float: left;
}

.events_contents_col1 img{
width: 60px;
display: block;
margin-left: 18%;
}

.events_contents_col2{
float: left;
margin-top: 13px;
width: 66%;
margin-left: 11px;
font-family: -webkit-body;
}

.events_contents_col2_row1{
height: 20px;
font-size: 16px;
font-weight: bold;
padding-bottom: 5px;
overflow: hidden;
color: white;
}

.events_contents_col2_row2{
height: 14px;
font-size: 11px;
padding-bottom: 0px;
overflow: hidden;
color: white;
padding-top: 3px;
}

.events_contents_col2_row3{
height: 14px;
font-size: 11px;
padding-bottom: 0px;
overflow: hidden;
color: white;
padding-top: 3px;
}

.header_container .middle_header{
background-image: url(../Images/events_middle_header.png);
width: 99.5%;
height: 33px;
margin-top: 0px;
margin-left: 2px;
}

.middle_header .outer_box{
width: 94%;
margin-left: 5%;
}

.middle_header .outer_box .col{
width:31%;
float:left;
}

.middle_header .outer_box .col .selected .header_text{
color: white;
}


.middle_header .outer_box .col img{
width: 95px;
height: 27px;
margin-top: 3px;
}

.middle_header .outer_box .col .header_text{
position: absolute;
margin-top: -27px;
font-size: 15px;
text-align: center;
width: 30%;
color: black;
}

.friends_wrapper_outer{
margin: 232px -9px 0px;
}

.friends_count {
padding: 3px 3%;
color: #28166f;
font-family: Trebuchet MS;
font-size: 13px;
text-align: right;
margin: 0px -9px;
border-bottom: solid 1px;
border-bottom-color: rgb(194, 207, 201);
}

.friends_contents{

}

.friends_wrapper{
width: 50%;
float: left;
margin-top: 10px;
}

.friends_wrapper .col1{
float: left;
width: 25%;
margin-left: 6%;
}

.friends_wrapper .col1 img{
width: 34px;
height: 34px;
}

.friends_wrapper .col2{
float: left;
width: 68%;
margin-top: 6px;
}
.friends_wrapper .col2 .row1{
font-size: 12px;
color: #901e78;
}
.friends_wrapper .col2 .row2{
font-size: 10px;
color: rgb(250, 248, 248);
}

.event_header{
background-color: #76b2c2;
padding-bottom: 10px;
}





}