body{
    margin:0px;
    padding:0px;
}
body {
    background: url(imgage.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    
}
.clr{
    clear:both;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
.msg_button{
    float:left;
    width:60px;
    border:0px;
    border-radius:0px;
    padding:0px;
    margin-left:20px;
    margin-top:8px;
}
.msg_circle{
    position: absolute;
    left: 50px;
    top: 2px;
    width: 300px;
    height: 200px;
    z-index: 2;
    
    display:block;
    font-size: 11px;
    color: white;
    width: 15px;
    height: 15px;
    padding: 2px;
    padding-left: 5px;
}

.like_button{
    float:right;
    width:40px;
    border:0px;
    border-radius:0px;
    padding:0px;
    margin-right:0px;
    margin-top:8px;
}
.like_count{
    text-shadow: none;
    font-weight: bold;
    float:right;
    margin-right:30px;
    margin-top:10px;
    color:#000033;
    font-style:bold;
}
.like_button img{
    width:40px;
    height:25px;
}
.header_container{
    position:fixed;
    width:100%;
    padding:0px;
    margin:0px;
}
.main_header{
    position:absolute;
    top:0px;
    margin:0px;
    display:block;
    width:100%;
    height:40px;
    background-image:url('images/like_btn.png');
}
.nav_bar_upper{
    background-image: url('images/nav_menu_bg.png');
    margin-left:0px;
    margin-top: 40px;
    width:100%;
    height:41px;
}
.nav_bar_upper ul{
    padding:0px;
}
.nav_bar_upper li{
    background-image: url('images/main_bg.png');
    float:left;
    display:block;
    width:20%;
    height:30px;
    margin-top:7px;
    padding-top:4px;
    
    color:#ddd;
    text-decoration:none;
    text-align:center;
    font-size: 12px;
}
.nav_bar_upper li.leaf {
    list-style-type: none;
    background: url(../images/seperator.png) no-repeat left top;
}
.nav_bar_upper li.leaf  a{color:#006;}
.nav_bar_upper li.leaf  a:hover{color:#006;}
.nav_bar_upper li.leaf  a:visited{color:#006;}
.nav_bar_upper li.nav_upper_selected{
    background:url(../images/brightern.png);
    margin-top:3px;
    padding-left:0px;
    padding-top:10px;
    height:25px;
}
.nav_bar_upper li.nav_upper_selected a{color:#fff;}
.nav_bar_upper li.nav_upper_selected a:hover{color:#fff;}
.nav_bar_upper li.nav_upper_selected a:visited{color:#fff;}
.nav_bar_upper a{
    color:#fff;
    text-decoration:none;
    display:block;
    height:20px;
}

.nav_menu_mid{
    width:100%;
    height:50px;
}
.nav_menu_mid img{
    margin-top:5px;
    width:40px;
    height:40px;
}
.nav_menu_mid a.right_links{
    float:right;
    margin-right:20px;
}
.nav_menu_mid a.left_links{
    margin-top: 14px;
    color: white;
    margin-left: 45px;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
}

/* News Feed Styling */

.news_feed_content_container_outer{
    margin-top:131px;
}
.news_feed_content_container{
    margin-top:10px;
}
.news_feed_content{
    width:100%;
    text-decoration:none;
}
.news_feed_content ul{
    padding-left:5px;
    padding-right:10px;
}
.news_feed_content li{
    list-style-type: none;
    margin-top:0px;
}
.news_feed_content_c1{
    float:left;
    width:25%;
}
.news_feed_content_c1r1{

}
.news_feed_content_c2{
    float:left;
    width:50%;
}
.news_feed_content_c2r1{
    color:#990099;
    text-shadow:none;
    text-decoration:none;
    font-size:13px;
    font-weight:bold;
}
.news_feed_content_c2r2{
    margin-top:3px;
    color:#fff;
    text-shadow:none;
    text-decoration:none;
    font-size:11px;
    padding-bottom:10px;
}
.news_feed_content_c2r3{
    font-size:10px;
    text-decoration:none;
    color:#000;
    
}
.news_feed_content_c3{
    float:left;
    width:20%;
}
.news_feed_content_c3r1{
    font-size:9px;
    color:#000;
    text-align:center;
    text-decoration:none;
    padding-bottom:2px;
}
.news_feed_content_c3r2{
    text-align:center;
    text-decoration:none;
}
.news_feed_content_seperator{
    padding-top:5px;
    padding-bottom:10px;
    text-align:center;
}
.news_feed_content_seperator img{
    width:80%;
}
.news_feed_content_c1r1 img{
    width:70px;
}
.news_feed_content_c2r3 img {
    width:20px;
}
.news_feed_content_c3r2 img{
    width:70px;
}

/* PostDetails Page */
.post_detail_container{
    width:100%;
    margin:0 auto;
    margin-top:15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:5px;
}

.post_detail_container_details_c1{
    width:20%;
    float:left;
}
.post_detail_container_details_c2{
    padding-left:10px;
    width:55%;
    float:left;
    text-shadow:none;
}
.post_detail_container_details_c3{
    width:20%;
    float:left;
    text-shadow:none;
    font-size:11px;
    color:#000;
}

.post_detail_container_details_c1 img{
    width:70px;
}
.post_detail_container_details_c2r1{
    font-size:13px;
    color:#990099;
    font-weight:bold;
    text-shadow:none;
}
.post_detail_container_details_c2r2{
    padding-top:10px;
    font-size:11px;
    color:#fff;
}
.post_detail_container_image{
    text-align:center;
}
.post_detail_container_image img{
    
    width:90%;
}
.post_detail_container_options{
    padding-left:40px;
    font-size:12px;
    color:#fff;
    text-shadow:none;
}
.post_detail_container_options span{ 
    font-size:12px;
    color:#000066;
    text-shadow:none;
}
.post_detail_comment_container{
    border:1px solid #fff;
    margin-top:20px;
}
.prev_container{
    color:#003366;
    text-shadow:none;
    font-size:12px;
    padding:5px;
    padding-left:20px;
    background:grey;
    
}
.prev_container a{
    position:relative;
    float:left;
}
.prev_container img{
    float:left;
}
.comments_count{
    float:right;
    margin-right:10px;
    color:#000;
    font-size:12px;
}
.prev_container a{
    margin-left:10px;
    text-decoration:none;
}
.comment_container{
    padding:10px;
    font-size:12px;
    border-top:1px solid white;
    
}
.comment_container_image img{
    float:left;
    width:40px;
    height:40px;
}
.comment_container_new_comment{
    padding-top:10px;
    border-top:1px solid white;
    padding:10px;
}
.comment_container_new_comment input{
    margin-left:50px;
    width:120PX;
    height:30px;
}
.comment_container_comment{
    float:left;
    padding-left:10px;
    color:#fff;
    text-shadow:none;
}
.comment_user_name{
    color:#909;
    font-size:12px;
    font-weight:bold;
    padding-right:5px;
}
.comment_option_time{
    color:#333;
}
.comment_option_like{
}
.new_com_sub{
    float:left;
    
}
.new_com_sub a{
    margin-top:15px;
    margin-left:10px;
}
.comment_btn{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    background: #CCC;
    color: black;
}

/* MyPosts Styles */
.myposts_content_container_outer{
    margin-top:131px;
}
.myposts_content_container{
    margin-top:10px;
}
.myposts_content{
    width:100%;
}
.myposts_content_container_outer ul{
    padding-left:5px;
    padding-top:10px;
}
.myposts_content_li{
    list-style:none;
    padding-top:0px;
}
.myposts_content li{
    list-style-type: none;
    margin-top:0px;
}
.myposts_content_c1{
    float:left;
    width:25%;
}
.myposts_content_c1r1{}
.myposts_content_c2{
    float:left;
    width:50%;
}
.myposts_content_c2r1{
    color:#990099;
    text-shadow:none;
    font-size:13px;
    font-weight:bold;
}
.myposts_content_c2r2{
    margin-top:3px;
    color:#fff;
    text-shadow:none;
    font-size:11px;
    padding-bottom:10px;
}
.myposts_content_c2r3{
    font-size:10px;
    color:#000;
    
}
.myposts_content_c3{
    float:left;
    width:20%;
}
.myposts_content_c3r1{
    font-size:9px;
    color:#000;
    text-align:center;
    padding-bottom:2px;
}
.myposts_content_c3r2{
    text-align:center;
}
.myposts_content_seperator{
    padding-top:5px;
    padding-bottom:10px;
}
.myposts_content_seperator img{
    width:80%;
}
.myposts_content_c1r1 img{
    width:70px;
}
.myposts_content_c2r3 img {
    width:20px;
}
.myposts_content_c3r2 img{
    width:70px;
}

/* jQuery Mobile OverRides */
.ui-body-c .ui-link{
    color:#000066;
    font-weight:bold;
    text-shadow:none;
}
.ui-body-c .ui-link:visited{

    color:#000066;
}
.ui-navbar.ui-mini{margin-top: 40px;}